
body{
	font-family: 'Ubuntu', sans-serif;
}
h1,
h2{
	font-weight: 300;
}

h2{
	font-size: 2.5rem;
	line-height: 1;
}



 a{ 
    text-decoration: none;
    color: black;
   
   
}



.conteiner-grid{
    display: grid;   
    grid-template-rows: 20%  80% 50% 50%;
    
}

@media (min-width: 50rem){
    .conteiner-grid{ grid-template-columns:1fr 1fr ;

    }
}


.main-nav{
    background-color: rgb(38, 110, 17);
    display: flex;
    justify-content: center;
    

}

@media (min-width: 50rem){
.main-nav{ grid-row: 5 / -2 ;

    }
}

.nav{
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
}

.nav__item a:hover,
.nav__item a:active{
    color: black;
    border-bottom: 3px solid black;
}


.main{
    background-color: rgb(38, 110, 17);
   
    
}


@media (min-width: 50rem){
    .main{ grid-column: 1 / 2;
        grid-row: 1 / span 3;
      
        
    

    }
}
.main__title {
    font-size: 3rem;
    
  
}


.main__text{
   
    font-size: 1rem;
    
}
@media (min-width: 50rem){
    .main__text{ max-width: 25rem;
        margin-inline: auto;

    }
}



.main_subtitle{
    background-color:rgb(233, 198, 102) ;
}

@media (min-width: 50rem){
    .main_subtitle{ 
        grid-row: 1/ 3;

    }
}
.main-title__article{
    font-size: 4rem;
}

.main__article{
    
    font-size: 1rem;

}

@media (min-width: 50rem){
    .main__article{ max-width: 25rem;
        margin-inline: auto;

    }
}


.gallery{
    background-color: hotpink;
   
}

@media (min-width: 50rem){
    .gallery{ grid-column: 2;
        grid-row: 3/ 5;

    }
}

